  <nhibernate>
    <add
      key="hibernate.connection.provider"
      value="NHibernate.Connection.DriverConnectionProvider"
    />
    <add
      key="hibernate.dialect"
      value="NHibernate.Dialect.FirebirdDialect"
    />
    <add
      key="hibernate.connection.driver_class"
      value="NHibernate.Driver.FirebirdDriver"
    />
    <add
      key="hibernate.connection.connection_string"
      value="User=SYSDBA;Password=masterkey;Database=c:/db/nhibernate.fdb;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;"
    />
  </nhibernate>
